@media only screen and (max-width: 950px) {
  #left-side {
    height: 100%;
    width: 350px;
    background-repeat: no-repeat;
    background-position: 70% 50%;

    .contact-wrap {
      width: 350px;
    }
  }

  #main-content {
    left: 350px;
    width: calc(100% - 350px);

    header {
      width: calc(100% - 350px);    
    }
  }
}
