@font-face {
  font-family: "Proxima Nova Black";
  src: local("Proxima Nova Black"), url("fonts/proxima-nova/ProximaNova-Black.otf") format("opentype")
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: local("Proxima Nova Bold"), url("fonts/proxima-nova/ProximaNova-Bold.otf") format("opentype")
}

@font-face {
  font-family: "Proxima Nova Extrabold";
  src: local("Proxima Nova Extrabold"), url("fonts/proxima-nova/ProximaNova-Extrabold.otf") format("opentype")
}

@font-face {
  font-family: "Proxima Nova Light";
  src: local("Proxima Nova Light"), url("fonts/proxima-nova/ProximaNova-Light.otf") format("opentype")
}

@font-face {
  font-family: "Proxima Nova Light Italic";
  src: local("Proxima Nova Light Italic"), url("fonts/proxima-nova/ProximaNova-LightIt.otf") format("opentype")
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: local("Proxima Nova Regular"), url("fonts/proxima-nova/ProximaNova-Regular.otf") format("opentype")
}

@font-face {
  font-family: "Proxima Nova Regular Italic";
  src: local("Proxima Nova Regular Italic"), url("fonts/proxima-nova/ProximaNova-RegularIt.otf") format("opentype")
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: local("Proxima Nova Semibold"), url("fonts/proxima-nova/ProximaNova-Semibold.otf") format("opentype")
}

@font-face {
  font-family: "Proxima Nova Semibold Italic";
  src: local("Proxima Nova Semibold Italic"), url("fonts/proxima-nova/ProximaNova-SemiboldIt.otf") format("opentype")
}
