@import "fonts";

#left-side {
  position: fixed;
  height: 100%;
  width: 500px;
  background-image: url('/images/petar_surfing.jpg');
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: auto 100%;

  .heading {
    padding: 25px 20px;
    color: white;
    font-size: 40px;
    font-family: "Proxima Nova Light";
    text-align: center;
  }

  .contact-wrap {
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);

    .contact {
      width: 320px;
      height: 100%;
      margin: 0 auto;
      margin-top: 10px;


      .social-img {
        float: left;
        width: 42px;
        height: 42px;
        background-size: 42px 42px;
        margin-right: 20px;

        a {
          display: block;
          width: 42px;
          height: 42px;
        }
      }

      #twitter-img {
        background-image: url('/images/twitter.png');
      }

      #github-img {
        background-image: url('/images/github.png');
      }

      #email-img {
        background-image: url('/images/email.png');
      }

      #linkedin-img {
        background-image: url('/images/linkedin.png');
      }

      #googleplus-img {
        background-image: url('/images/googleplus.png');
      }
    }
  }
}

#main-content {
  position: absolute;
  left: 500px;
  width: calc(100% - 500px);
  height: 100%;
  background-color: white;

  header {
    position: fixed;
    width: calc(100% - 500px);
    height: 50px;
    background-color: #3497DB;;
    text-align: center;

    #header-wrap {
      padding-top: 12px;

      a {
        margin: 0 auto;
        margin-right: 25px;
        font-size: 18pt;
        font-family: "Proxima Nova Light";
        color: white;
        text-decoration: none;
      }

      span.current {
        margin: 0 auto;
        margin-right: 25px;
        font-size: 18pt;
        font-family: "Proxima Nova Bold";
        color: #1E5F8A;
      }
    }
  }

  .content-wrap{
    max-width: 920px;
    margin: 0 auto;
    margin-top: 70px;

    h1 {
      margin: 20px 40px;
      font-size: 26pt;
      font-family: "Proxima Nova Bold";
      color: #1E5F8A;
    }

    .text-common {
      font-size: 18pt;
      font-family: "Proxima Nova Regular";
      color: #3c3c3c;

      a {
        color: #3497DB;
        text-decoration: none;
        font-family: "Proxima Nova Regular Italic";
      }

      p {
        margin: 20px 40px;
      }
    }

    #projects {
      padding: 20px 40px;
      margin-bottom: 30px;

      div {
        float: left;
        margin: 10px 25px;
      }

      .project-logo {
        width: 86px;
        height: 86px;
        background-size: 86px;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        //filter: url('/images/filters.svg#grayscale'); /* Firefox 3.5+ */
        //filter: gray; /* IE6-9 */
        //-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        //opacity: 0.7;

        a {
          display: block;
          width: 86px;
          height: 86px;
        }
      }

      .project-logo:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1); /* IE 9 */
        transform: scale(1.1);
        // filter: none;
        // -webkit-filter: grayscale(0);
        //opacity: 1;
      }

      #kurier {
        background-image: url('/images/work/kurier.png');
      }

      #hn {
        background-image: url('/images/work/hn.png');
      }

      #pledge {
        background-image: url('/images/work/pledge.png');
      }

      #c3po {
        background-image: url('/images/work/c3po.png');
      }

      #bspotted {
        background-image: url('/images/work/bspotted.png');
      }


    }

    .text-separator {
      margin: 0 auto;
      width: 32px;
      height: 32px;
      background-image: url('/images/atom.png');
      background-size: 32px 32px;
      text-align: center;
      clear: both;
    }
  }
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

@import "950px";
