---
title: Hire Petar Petrov
---

<%= partial "header" %>

<div class="content-wrap">
  <h1>Hire Me</h1>

  <div class="text-common">
    <p>
      If you'd like to work with me and my awesome teammates at <a href="http://creativepragmatics.com" target="_blank">Creative Pragmatics</a>,
      then just drop me a line. We are always looking for new exciting projects to work on.
    </p>
    <p>
      You can find more info about our work and the way we do things at <a href="http://creativepragmatics.com">creativepragmatics.com</a>.
    </p>    
  </div>

  <div class="text-separator"></div>
</div>
