---
title: About Petar Petrov
---

<%= partial "header" %>

<div class="content-wrap">
  <h1>About Me</h1>

  <div class="text-common">
    <p>
      I am Petar Petrov, not the fashion designer, the jedi!
    </p>

    <p>
      I come from Sofia, Bulgaria but currently I live in Vienna, Austria.
    </p>

    <p>
      After I finished my studies in Software Engineering &amp; Internet Computing at Vienna University of Technology, I
      co-founded <a href="http://creativepragmatics.com" target="_blank">Creative Pragmatics</a>, a mobile and web app development agency.
      Check us out if you have a software project you want done.
    </p>

    <p>
      When I am not in front of the computer (or a tablet, or a phone, or anything else with a display),
      I enjoy reading (lately about the universe), travelling, biking alongside the Danube,
      surfing (if you can call it so) and watching movies.
    </p>

    <p>
      I am flattered that you've read all this. If you want to connect with me, hit me up on twitter, or drop me a line.
    </p>
    <p>
      cheers
    </p>
  </div>

  <div class="text-separator"></div>  
</div>
