---
title: Petar Petrov's Work
---

<%= partial "header" %>

<div class="content-wrap">
  <h1>My Work</h1>

  <div class="text-common">
    <p>
      Currently I am the co-founder and a product developer at Creative Pragmatics - a mobile and web development agency.
    </p>
    <p>
      Before that I was working as a research assistant at the University of Technology in Vienna.
    </p>
    <p>
      Here are a few of the projects I have been involved with.
    </p>
  </div>

  <div class="text-separator"></div>
</div>
