---
title: Petar Petrov's Work
---

<%= partial "header" %>

<div class="content-wrap">
  <h1>My Work</h1>

  <div class="text-common">
    <p>
      Before I started Creative Pragmatics, I was working as a research assistant at the University of Technology in Vienna.
    </p>
    <p>
      Currently I am the co-founder and a product developer at Creative Pragmatics - a mobile and web development agency.
      That gives me the opportunity to work on some really great projects with clients and startups from all over the world.

    </p>
    <p>
      We also work on an in-house project related to Scrum. If you are interested in the topic we curate a weekly newsletter
      called <a href="https://scrumweekly.curated.co" target="_blank">Scrum Weekly</a>.
    </p>

    <p>
      Here are a few of the projects I have been collaborating on lately.
    </p>
  </div>

  <div id="projects" class="clearfix">
    <div id="keyper" class="project-logo"><a href="https://keyper.io" target="_blank"></a></div>
    <div id="kurier" class="project-logo"><a href="https://play.google.com/store/apps/details?id=at.kurier.android" target="_blank"></a></div>
    <div id="pledge" class="project-logo"><a href="https://play.google.com/store/apps/details?id=com.petpet.pledge"></a></div>
    <div id="hn" class="project-logo"><a href="https://play.google.com/store/apps/details?id=com.manuelmaly.hn" target="_blank"></a></div>
    <div id="bspotted" class="project-logo"><a href="https://bspotted.net" target="_blank"></a></div>
    <div id="c3po" class="project-logo"><a href="http://peshkira.github.io/c3po/" target="_blank"></a></div>
  </div>

  <div class="text-separator"></div>
</div>
