---
title: Petar Petrov's Work
---

<%= partial "header" %>

<div class="content-wrap">
  <h1>My Work</h1>

  <div class="text-common">
    <p>
      Before I started Creative Pragmatics, I was working as a research assistant at the University of Technology in Vienna.
    </p>
    <p>
      Currently I am the co-founder and a product developer at Creative Pragmatics - a mobile and web development agency.
      That gives me the opportunity to work on some really great projects with clients and startups from all over the world.

    </p>
    <p>
      Here are a few of the projects I have been collaborating on lately.
    </p>
  </div>

  <div id="projects" class="clearfix">
    <div id="megaplex" class="project-logo"><a href="https://play.google.com/store/apps/details?id=at.megaplex.android" target="_blank"></a></div>
    <div id="medbee" class="project-logo"><a href="https://play.google.com/store/apps/details?id=org.medbee.android" target="_blank"></a></div>
    <div id="keyper" class="project-logo"><a href="https://play.google.com/store/apps/details?id=io.keyper.android" target="_blank"></a></div>
    <div id="kurier" class="project-logo"><a href="https://play.google.com/store/apps/details?id=at.kurier.android" target="_blank"></a></div>
    <div id="pledge" class="project-logo"><a href="https://play.google.com/store/apps/details?id=com.petpet.pledge" target="_blank"></a></div>
    <div id="hn" class="project-logo"><a href="https://play.google.com/store/apps/details?id=com.manuelmaly.hn" target="_blank"></a></div>
    <div id="c3po" class="project-logo"><a href="http://peshkira.github.io/c3po/" target="_blank"></a></div>
  </div>

  <div class="text-separator"></div>
</div>
